---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
$sidebar-width: 260px;

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

.sidebar-toggle-label {
    color: white;
}

.site-title {
    transition: opacity ease-out 0.4s;
}

//@include breakpoint(max-width $small) {
@media screen and (max-width: 320px) {
    .wrapper.is--pushed {
        .site-title {
            opacity: 0;
        }
    }
}

.layout--home header.intro .intro-image svg {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
}

.layout--home header.intro .intro-title {
    background-image: url(/assets/icons/basher-logo-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 1.9em;
}

.layout--draft {
    h1.intro-title
    {
        .draft
        {
            color: #c81412;
            border: 0.4rem solid #c81412;
            padding: 4px 8px;
            border-radius: 0.25rem;
            position: absolute;
            transform-origin: center left;
            animation-name: rotateDown;
            animation-duration: 1.5s;
            animation-delay: 1s;
            animation-fill-mode: backwards;
            transform: rotate(-11deg) translateY(-0.5rem) translateX(-0.5rem);
        }

        @keyframes rotateDown {
            0% {
                transform: rotate(-90deg) translateY(-0.5rem) translateX(-0.5rem);
                opacity: 0;
            }
        }
    }

    main {
        .draft {
            border: 1px dashed #d9b637;
            color: #d9b637;
            display: inline-block;
            padding: 0.4rem;
        }   
    }
}

/*
.box{
  margin:25px;
  width:250px;
  height:250px;
  background:#fff;
  border: solid black;
  border-color: black;
  float:left; 
}

.box1{
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}
.box2{
  width:350px;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}

.box3{
  border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  transform: rotate(2deg);
}
*/